# Update: docker compose pull; docker compose up -d
volumes:
  etc_wireguard:
  etc_pihole:
networks:
  networking-network:
    ipam:
      driver: default
      config:
        - subnet: 10.9.1.0/24

services:
  pihole:
    image: pihole/pihole:2024.07.0
    container_name: pihole
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
    environment:
      TZ: 'America/Detroit'
      WEBPASSWORD: 'pihole'
      FTLCONF_LOCAL_IPV4: 192.168.1.198
      PIHOLE_DNS_: 1.1.1.1;1.0.0.1
    volumes:
      - './volumes/pihole/etc-pihole:/etc/pihole'
      - './volumes/pihole/etc-dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
    networks:
      networking-network:
        ipv4_address: 10.9.1.100

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:14
    container_name: wg-easy
    depends_on:
      - pihole
    environment:
      - LANG=en
      # Change this to your host's public address
      - WG_HOST=YOURDOMAIN.COM
      - WG_DEFAULT_ADDRESS=10.10.0.x
      - WG_DEFAULT_DNS=10.9.1.100
      - WG_DEVICE=eth0
      - UI_TRAFFIC_STATS=true 
    volumes:
      - './volumes/wireguard/etc_wireguard:/etc/wireguard'
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    networks:
      networking-network:
        ipv4_address: 10.9.1.200
  
  iperf3:
    image: networkstatic/iperf3:latest
    container_name: iperf3-server
    ports:
      - '5201:5201/tcp'
      - '5201:5201/udp'
    command: '-s'
    restart: unless-stopped

  speedtest:
    image: openspeedtest/latest:latest
    container_name: openspeedtest
    ports:
        - '3000:3000'
        - '3001:3001'
    restart: unless-stopped